<div class="container">
  <h1>Welcome to JRacer!</h1>

  <form action="/game/new" method="POST">
    <label>Player 1: <input type="text" name="player1[name]"></label>
    <label>Player 2: <input type="text" name="player2[name]"></label>
    <input type="submit">
  </form>

</div>
